.toppings {
  display: flex;
  flex-direction: column;
  margin-left: 2em;

  & > p {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 0.4em;
  }
}
body{
  background: var(--tg-theme-bg-color);
}
.spinner-block{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: var(--tg-theme-bg-color);
  z-index: 2000;

}
