.title-container{
  font-size: x-large;
  text-align: center;
}

.message-container{
  padding-top: 20px;
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}


